<a href="https://colab.research.google.com/github/lizbeth-cortes/edd_1310_2021/blob/master/1octubre_1310.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Intro Python
## Variables
Tipo dinámico

escuela = "FES ARAGÓN"

In [7]:
escuela = "FES ARAGON"
print (escuela)
print ("-------")
edad = 13
estatura = 1.67
fumador = True
frase = """
Esta es
una frase
de múltiples líneas
y también es un tipo de dato
"""
print (frase)
nombre = "josue"
nombre_completo = "josue sosa cardenas"

FES ARAGON
-------

Esta es
una frase
de múltiples líneas
y también es un tipo de dato

#Print
con comas ,
con sigmo +
con format ()
con el operador f""

In [6]:
print (nombre, edad)

josue2 13

In [9]:
# el + concatena cadenas, por eso hay que definir el tipo
print (nombre + str(edad))
print (nombre+nombre_completo)
# las variables en Python se escriben como snike case (palabras en minúsculas se separan cpn guiones)

josue13
josuejosue sosa cardenas

In [11]:
# con formato -> Su nombre es Jose y su edad es de 13 años
print ("Su nombre es ", nombre,"y su edad es de", edad,"años")
# Con format se puede jugar con los índices
print ("Su nombre es {0} y su edad es de {1} años.".format(nombre,edad))
print ("Su nombre es {0} y su edad es de {1} años.".format(nombre,edad))

Su nombre es  josue y su edad es de 13 años
Su nombre es josue y su edad es de 13 años.

In [13]:
# Con formato con el operador f""
print (f"Su nombre es \"{nombre}\" y su edad es de {edad} años.")

Su nombre es "josue" y su edad es de 13 años.

# Caracter de escape
\n salto de línea

\t tabulador

\a beep

\" imprimir comilla doble \", ejemplo:

\"{nombre}\"

\'  imrpimir comilla simple

In [14]:
print (f"\tMi nombre es \n\t\t {nombre}")

	Mi nombre es
		 josue

#Ayuda de tipos de datos en Python
dir ()   --> Te informa sobre métodos o funciones que tiene un tipo de dato

help ()  --> Te informa sobre métodos o funciones que tiene un tipo de dato pero con más detalle

No se puede ejecutar al mismo tiempo, al llamarlos hacerlo en una celda nueva?

In [ ]:
dir(str)
print (---------)

In [ ]:
help(str)

In [20]:
print (nombre_completo.capitalize())
print (nombre_completo.upper(), end="------")
print (nombre_completo.title())

Josue sosa cardenas
JOSUE SOSA CARDENAS------Josue Sosa Cardenas

#Clase String
Es manejada como un arreglo (c o java) o lista (python)
telefono = "Huawei mate 30 pro"

In [22]:
telefono = "Huawei mate 30 pro"
print (telefono[5])

i

#Slicing (rebanado)
[ini: stop: incremento]
nota: el stop no se incluye, termina en el valor anterior al stop

In [28]:
print (telefono[7:11:1]) 
# el inicio y el incremento son opcionales
print (telefono[:11:])
#el valor por defecto de stop es hasta que termine toda la cadena, es decir, len(str)
print (telefono[::])
#incremento negativo
print (telefono[::-1])
#slicing negativo
print (telefono[-3::1])
# se puede usar variables dentro de []
ini=-3
inc=1
print (telefono[ini::inc])

mate
Huawei mate
Huawei mate 30 pro
orp 03 etam iewauH
pro
pro

#Métodos de string (str)
Existen métodos muy útiles en esta clase.

In [55]:
facultad ="   facultad de Estudios fes Aragon   \n"
# Cuenta el número de elemento específico en una cadena
print(facultad.count("f")) 
#Busca y muestra el índice del elemento en específico
print(facultad.find("f")) 
# Te dice el índice de la primera coincidencia
print(facultad.index("s"))
#Remueve los espacios en blanco del principio y del final, y quita los saltos en línea
print(facultad.strip())
#Muestra el tamaño de la cadena 
tamaño = len(facultad)
print(len(facultad))
print(f"El tamaño de la cadena es {tamaño} caracteres" )
#Elimina aquella letra o espacio
print(facultad)
print(facultad.split("t"))

print(facultad.strip().split(" "))

print("------------")
# Copiar cadena
otra_cadena = facultad
print(otra_cadena)
otra_cadena = "FES ARAGON"
print(facultad)
print(otra_cadena)

print("------------------")
#Copiar listas
colores = ["rojo","verde"]
otra = colores.copy()
print(colores)
print(otra)
otra.append("rosa")
print(colores)
print(otra)

2
3
16
facultad de Estudios fes Aragon
38
El tamaño de la cadena es 38 caracteres
   facultad de Estudios fes Aragon

['   facul', 'ad de Es', 'udios fes Aragon   \n']
['facultad', 'de', 'Estudios', 'fes', 'Aragon']
------------
   facultad de Estudios fes Aragon

   facultad de Estudios fes Aragon

FES ARAGON
------------------
['rojo', 'verde']
['rojo', 'verde']
['rojo', 'verde']
['rojo', 'verde', 'rosa']