<a href="https://colab.research.google.com/github/lizbeth-cortes/edd_1310_2021/blob/master/6octubre_1310.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [14]:
#String continuación

numeros_txt = " 1, 2, 3, 4, 5   , 35    , 15    , 12"
print(numeros_txt)

numeros_txt = numeros_txt.lstrip().split(',')
print(numeros_txt)

#En Python para indicar bloques de código se utiliza la tabulación!!!!!!
for j in range(len(numeros_txt)): 
  numeros_txt[j] = int(numeros_txt[j].strip())

print(numeros_txt) 

#Función range
#range(inicio, stop, incremento)
print(range(0,10,1))
rango = range(1,10,1)

for x in rango:
  print(x)

rango=range(5)
for x in rango:
  print(x)

 1, 2, 3, 4, 5   , 35    , 15    , 12
['1', ' 2', ' 3', ' 4', ' 5   ', ' 35    ', ' 15    ', ' 12']
[1, 2, 3, 4, 5, 35, 15, 12]
range(0, 10)
1
2
3
4
5
6
7
8
9
0
1
2
3
4

#LISTAS
- mutables
- se declaran con []
- selector [int] (se coloca el numero de elementos de la lista)
- pueden ser de cualquier tipo y mezclado

#TUPLAS
- no mutables
- se declaran con ()
- selectos [int]

#DICCIONARIOS
- son mutables
- son conjunto de pares llave:valor
- Equivalentes a los Objetos JSON de Javascript

#CONJUNTOS
- representación de la teoría de conjuntos

In [26]:
#Listas
frutas = ["pera", "manzana", "fresa", "kiwi", "naranja"]
print(frutas)

frutas[2]="Fresa"
print(frutas)

frutas.append("Aguacate") #append agrega el objeto al final
print(frutas)

frutas.insert(2,"Sandía") #insert agrega un objeto en cualquier posición
print(frutas)
frutas[0] = frutas[0].capitalize()

#concatenar listas
#Una lista es una función iterable
fecha = ["06","10","2020"] #06/10/2020
fecha_str = "/".join(fecha) #sirve para unir lista que contenga caracteres mediante un elemento
print(fecha_str)

['pera', 'manzana', 'fresa', 'kiwi', 'naranja']
['cuaderno', 2, 3.1416, True, False, ['Rojo', 'Azul']]
['pera', 'manzana', 'Fresa', 'kiwi', 'naranja']
['pera', 'manzana', 'Fresa', 'kiwi', 'naranja', 'Aguacate']
['pera', 'manzana', 'Sandía', 'Fresa', 'kiwi', 'naranja', 'Aguacate']
06/10/2020

In [38]:
#eliminar elementos
cosas = ["cuaderno", 2, 3.1416, True, False,["Rojo", "Azul"]] #Pudes meter más listas
print (cosas)
cosas.append("Libro")
cosas.append("Lápiz")
print(cosas)

algo = cosas.pop() #pop remuerve o regresa un elemento en el índice especificado, si no se indica por defecto se va contra el último elemento.
print (cosas)
print(algo)

algo = cosas.pop(2)
print(cosas)
print(algo)

cosas.remove(2) #remove remueve un elemento en específico
print (cosas)

#vaciar lista
cosas.clear()
print(cosas)

#ordenar listas
#Se ordena conforme al abecedario, y también se ordena por minúsculas y mayúsculas
#Para que sort funcione, los datos de la lista tienen que tener congruencia entre ellos
print(frutas)
frutas.sort() 
print(frutas)

['cuaderno', 2, 3.1416, True, False, ['Rojo', 'Azul']]
['cuaderno', 2, 3.1416, True, False, ['Rojo', 'Azul'], 'Libro', 'Lápiz']
['cuaderno', 2, 3.1416, True, False, ['Rojo', 'Azul'], 'Libro']
Lápiz
['cuaderno', 2, True, False, ['Rojo', 'Azul'], 'Libro']
3.1416
['cuaderno', True, False, ['Rojo', 'Azul'], 'Libro']
[]
['Pera', 'manzana', 'Sandía', 'Fresa', 'kiwi', 'naranja', 'Aguacate']
['Aguacate', 'Fresa', 'Pera', 'Sandía', 'kiwi', 'manzana', 'naranja']

In [47]:
# Slicing

cosas = ["cuaderno", 2, 3.1416, True, False,["Rojo", "Azul"]] #Pudes meter más listas
print(cosas[3:5:1]) #No modifica la lista original, simplemente te regresa la rebanada que has seleccionado
print(cosas)
print(cosas[0][3:5:1]) #El [0] selecciona un elemento de la lista, mientras que [3:5:1] selecciona los elementos de la palabra cuaderno

numeros = [0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15]
print(numeros[8:13:1]) #Se puede omitir el :1 por que por defecto se cuenta de 1 en 1

#sustituir rebanadas
numeros [8:13] = [-2,-2]
print(numeros)

#preguntar exitencia
print (100 in numeros)

[True, False]
['cuaderno', 2, 3.1416, True, False, ['Rojo', 'Azul']]
de
[8, 9, 10, 11, 12]
[0, 1, 2, 3, 4, 5, 6, 7, -2, -2, 13, 14, 15]
False

#LISTAS MULTIDIMENSIÓN
Son liasta dentro de listas

In [70]:
computadoras = ["HP","Mac Book Pro 17","Mate Book","Lenovo Legion"]
oss = ["Windows 10", "Linux", "Android","IOS"]

computo = [computadoras, oss]
print(computo[0])
print(computo[1])
print(computo[0][2])
print (computo[0][2][0:4])
print (computo[0][3][-8::-1]) #cuenta los números de derecha a izquierda empezando desde -1, 
print (computo[0][3][5::-1]) #inicia desde el elemento 5 y se va a la inversa
print("Linux" in computo[1])

dbms = [["Mysql","Open source", False],["MS SQL Server", "de paga", True]]
computo.append(dbms)
print(computo)
print(computo[2][0][0])
print(computo[2][1][1])

['HP', 'Mac Book Pro 17', 'Mate Book', 'Lenovo Legion']
['Windows 10', 'Linux', 'Android', 'IOS']
Mate Book
Mate
ovoneL
ovoneL
True
[['HP', 'Mac Book Pro 17', 'Mate Book', 'Lenovo Legion'], ['Windows 10', 'Linux', 'Android', 'IOS'], [['Mysql', 'Open source', False], ['MS SQL Server', 'de paga', True]]]
Mysql
de paga